
<link rel="stylesheet" href="/css/landing.css" type="text/css">

<section class="landing-Page">
    <div class="landing-container">
        <p>Habit Tracker 🚵 </p>
        <img class="task" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOKIbmvbw0SLYT_zSbbOa72f97j5M1o3EDzVbOEaoyjVR8-zQ&s" alt="">
        <a href="/user/signUp" class="land-btn"><button>Register</button></a>
        <a href="/user/signIn" class="land-btn"><button>Sign-In</button></a>
        <!-- google authentication button -->
        <a href="/user/auth/google" class="land-btn">
            <button class="auth">
                <!--  -->
                <img src="https://cdn-icons-png.flaticon.com/128/720/720255.png" alt="googleIcon">
                Login with Google
            </button>
        </a>
        <!-- github authentication button login -->
        <a href="/user/auth/github" class="land-btn">
            <button class="auth">
                <!--  -->
                <img src="https://cdn-icons-png.flaticon.com/128/2111/2111432.png" alt="githubIcon">
                Login with GitHub
            </button>
        </a>

    </div>

</section>