.details{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    .back {
        top: 100px;
        right: 15px;
        position: absolute;
        button{
            background-color: rgba(255, 159, 4, 0.951);
            border-radius: 1rem;
            i{
                font-weight: 600;
            }
        }
        button:hover{
            background-color: rgb(17, 255, 0);
        }
    }
    .details-status {
        .name {
            color: rgb(24, 133, 235);
            text-transform: capitalize;
            background-color: rgb(29, 53, 19);
            border-radius: 1rem;
            padding: 4px 10px;
            text-align: center;
        }
        .habit-track {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            .track-box{
                background-color: rgb(166, 92, 92);
                margin: 20px;
                padding: 10px;
                border-radius: 15px;
                p{
                    text-align: center;
                    font-size: 20px;
                    color: rgb(10, 10, 10);
                    padding-bottom: 10px;
                    border-bottom: 2px solid rgba(240, 237, 41, 0.962);
                }
                form{
                    background-color: rgb(0, 255, 217);
                    border-radius: 2rem;
                    padding: 4px 10px;
                }
            }
        }
    }
}